.project {
  border: solid 4px #fefefe;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  display: inline-block;
  line-height: 0;
  max-width: 100%;
  transition: box-shadow 200ms ease-out;
  border-radius: 0;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);
  }

  &:focus {
    box-shadow: 0 0 6px 1px rgba(33, 153, 232, 0.5);
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    overflow: hidden;
    width: 300px;
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;
  }

  &__buttons {
    align-items: center;
    margin: 1rem;
  }

  &__caption {
    margin: auto 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .8);
    text-align: center;
  }
}
